<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- L2 cache configuration-->
        <!-- Enable L2 cache. -->
        <property name="cache.use_second_level_cache">true</property>

        <!-- Generate L2 cache statistics. -->
        <property name="generate_statistics">true</property>

        <!-- Specify GridGain as L2 cache provider. -->
        <property name="cache.region.factory_class">org.apache.ignite.cache.hibernate.HibernateRegionFactory</property>

        <!-- Specify the name of the grid, that will be used for second level caching. -->
        <property name="org.apache.ignite.hibernate.grid_name">hibernate-grid</property>

        <!--&lt;!&ndash; Set default L2 cache access type. &ndash;&gt;-->
        <!--<property name="org.apache.ignite.hibernate.default_access_type">READ-WRITE</property>-->
        <!--&lt;!&ndash; Specify the entity classes for mapping. &ndash;&gt;-->
        <!--<mapping class="com.blu.imdg.dto.Employee"/>-->
        <!--&lt;!&ndash; Per-class L2 cache settings. &ndash;&gt;-->
        <!--<class-cache class="com.blu.imdg.dto.Employee" usage="read-write"/>-->

        <!-- Enable query cache. -->
        <!--<property name="cache.use_query_cache">true</property>-->

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.9.78:5432/trudvsem_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">unix11</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection_pool_size">3</property>

        <property name="show_sql">true</property>
        <mapping resource="com/blu/imdg/emp/Employee.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>